<mat-toolbar color="primary">
    
    <mat-toolbar-row>
        <a href="/" class="primary-logo">
            <span>
                Gotterfunken
            </span>
        </a>
        <span class="spacer"></span>
        <button mat-button>/</button>
        <button mat-button>news</button>
        <button mat-button>about</button>
        <div class="icons">
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="User Menu">face</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>