.spacer {
    flex: 1 1 auto;
}

.spacer-small {
    flex: 0.1 1 auto;
}

.slider {
    padding: 16px; 
    vertical-align: top;
}

a {
    color: #FFF;
    font-variant: small-caps;
}

a.primary-logo {

    span {
        display: inline-block;
    }
}
.primary-logo ::before {
    margin: -16px 5px;
    position: relative;
    content: '';
    background:url('/assets/g-logo.png');
    background-size: cover;
    width: 42px;
    height: 42px;
    display: inline-block;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ff99ff;
}

.mat-toolbar-row {
    overflow: hidden;
}