.spacer {
    flex: 1 1 auto;
}

a {
    color:#FFF;
    text-decoration: none;
    font-size: 0.8em;
}

.icons {

    width:10vw;
    text-align: right;
    padding-top:10px;

}


a.primary-logo {

    span {
        display: inline-block;
    }
}
.primary-logo ::before {
    margin: -16px 5px;
    position: relative;
    content: '';
    background:url('/assets/g-logo.png');
    background-size: cover;
    width: 42px;
    height: 42px;
    display: inline-block;
}