<mat-toolbar color="primary">
    
    <mat-toolbar-row>
        <a href="/" class="primary-logo">
            <span>
                gotterfunken.eu
            </span>
        </a>
        <span class="spacer"></span>
        <button mat-button>/</button>
        <button mat-button>network</button>
        <button mat-button>news</button>
        <button mat-button>about</button>
        <span class="spacer-small"></span>
        <mat-slide-toggle class="slider" color="primary"></mat-slide-toggle>
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="User Menu">face</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>