<div class="banner-image" [style.backgroundImage]="'url('+ getBanner() +')'">
    
    <div class="banner-overlay">
        <div class="bottom">

            <a href="">
                <i i-bs name="discord" height="4em" width="4em"></i> 
            </a>

            <a href="">
                <i i-bs name="reddit" height="4em" width="4em"></i> 
            </a>
            <a href="">
                <i i-bs name="twitter" height="4em" width="4em"></i> 
            </a>
            <a href="">
                <i i-bs name="youtube" height="4em" width="4em"></i> 
            </a>      

        </div>

    </div>

</div>