<mat-grid-list cols="10" gutterSize="3em" rowHeight="100%">
    <mat-grid-tile colspan="7">
        <div class="container">

            <events></events>

            <network></network>

            <!-- NETWORK COMPONENT -->

        </div>
    </mat-grid-tile> 
    <mat-grid-tile colspan="3">
        <div class="container">
            <a class="CTA" href="">
                adverts
            </a>
            <a class="CTA" href="">
                news
            </a>
        </div>
    </mat-grid-tile>
</mat-grid-list>